/* Error: Undefined mixin.
 *    ,
 * 9  | /     @include respond(tab-port) {
 * 10 | |         max-width: 50rem;
 * 11 | |         padding: 0 3rem;
 * 12 | \     }
 *    '
 *   sass/layout/_grid.scss 9:5  @import
 *   sass/main.scss 18:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 9  \2502  \250c      @include respond(tab-port) {\a 10 \2502  \2502          max-width: 50rem;\a 11 \2502  \2502          padding: 0 3rem;\a 12 \2502  \2514      }\a    \2575 \a   sass/layout/_grid.scss 9:5  @import\a   sass/main.scss 18:9         root stylesheet";
}
